doctype html
html
  head
    title Домашнее задание по Nodejs
    link(rel="icon" href="/favicon/favicon.ico" type="image/x-icon")
    link(rel='stylesheet', href='/css/style.bundle.css')
  body
    block content
