:root {
  --main-bg-color: rgb(3, 24, 92);
  --main-font: 16px Helvetica, Arial, sans-serif
}

.page-main {
  font: var(--main-font);
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.page-error {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.branch-list {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.branch-item__link {
  text-decoration: none;
}

.branch-item__link_color_red {
  color: rgb(238, 40, 40);
}

.branch-item__link_color_green {
  color: rgb(0, 128, 0);
}

.files-list {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.files-item__link {
  text-decoration: none;
}

.files-item__link_color_blue {
  color: rgb(29, 101, 255);
}

.files-item__link_color_darkgreen {
  color: rgb(11, 73, 11);
}

.commit-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  padding: 0;
}

.commit-item {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px;
}

.commit-item::after {
  position: absolute;
  content: '';
  top: 0;
  left: 19px;
  width: 2px;
  height: 100%;
  background-color: var(--main-bg-color);
}

.commit-item:first-of-type::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 19px;
  width: 2px;
  height: 50%;
  background-color: var(--main-bg-color);
}

.commit-item:last-of-type::after {
  position: absolute;
  content: '';
  top: 0;
  left: 19px;
  width: 2px;
  height: 50%;
  background-color: var(--main-bg-color);
}

.commit-item__circle {
  height: 20px;
  width: 20px;
  align-self: center;
  border-radius: 50%;
  background-color: var(--main-bg-color);
}

.commit-content {
  margin-left: 10px;
}

.commit-content__title a {
  color: black;
  text-decoration: none;
}

.main-aside {
  display: flex;
  flex-direction: column;
}

.file {
  color: palegreen;
}

.folder {
  color: blueviolet;
}

.content {
  white-space: pre;
}
